<!DOCTYPE html>
<html>
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Weather PWA">
        <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
        <title> Chess</title>
        <script src="/static/signin.js" defer></script>
        <link rel="manifest" href="/static/public/manifest.json">
    </head>
    <body>
        <h1>Free Chess. No ads. No email.</h1>
        <div id=login>
            <form action = "post" action="">
                <input type="text" name="user" placeholder="Name" id = "nameform"><br>
                <input type="password" name="pass" placeholder="Password" id = "pwform"><br>
            </form>
        </div>
        
    </body>
</html>